@use '../components/mixinsAndPlaholders' as mix;
@use '../base/variants' as var;

.page-about-us{

    .about-us-img{
        background-image: url('/public/assets/img/hero/csoport_kep.jpg');

        background-position: 30%;
        background-size: 250%;
        // background-color:  #1f66ad;
        // background-blend-mode: overlay;
        position: relative;
        
    h1{
        // color: initial;
        border-radius: 1rem;
        padding: .3rem .5rem;
        background-color: #0098fda2;
        text-shadow: 0px 0px 25px red;    

        &.light, &.dark{
            color: white;
        }
        &.akadaly{
            color: var.$akadaly-color;
        }

       }



    }



    @include mix.toAfterMaxwidth(500px){
        .about-us-img{
            // background-size: cover;
            background-size: 150%;
            background-position: 30%;
            background-position-y: 40%;
        }

    }

    @include mix.toAfterMaxwidth(980px){
        .about-us-img{
            background-size: cover;
            background-position-y: 40%;
        }

    }

ol{
    @include mix.listTypse(lower-alpha);
    
    li::marker{
       font-weight: bolder; 
    }

}

}