
.page-discounts{

    .percent-hero-img{
        background-image: url('/public/assets/img/hero/percent-hero-img.webp');
        background-size: cover;
        background-position: center;
        // #FF4081
        background-color: hsl(122, 39%, 22%);
        // background-color: #FF4081;
        background-blend-mode: overlay;
        color: white;
        
        


    }
}