.page-document{

    .document-hero-img{
        // background-color: #4682B4;
        background-image: url('/public/assets/img/hero/documents-hero-img.webp');
        background-size: cover;
        background-position: bottom;
        background-blend-mode: multiply;
        color: white;
        
        
    }
}