@use '../components/mixinsAndPlaholders' as mix;
@use '../base/indexBase' as base;




.page-events, .page-donations{

    &.light{
        article,section{
            background-color: base.$light-Event-paratlan-Article-background-color;

            &:nth-child(even){
                background-color: base.$light-Event-paros-Article-background-color;
            };
        }
    }

    &.dark, &.akadaly{
        article,section{
            background-color: base.$dark-Event-paratlan-Article-background-color;

            &:nth-child(even){
                background-color: base.$dark-Event-paros-Article-background-color;
            }
        }
    }

    &.akadaly{
        article,section{
            margin-top: 2rem;
            border: 2px solid rgba(255, 255, 0, 0.5);
        }
    }

    article,section{
        border-top: 2px solid black;

       

        h2{
            text-align: center;
        }
            figure{
            margin: 0rem;
         
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    max-width: 300px;
                }
        }
    


        @include mix.toAfterMaxwidth(600px){

            h2{
                text-align: left;
            }

            &:nth-child(even){
                h2{
                    text-align: right;
                }
            }

            figure{
                margin: 0rem 1rem 1rem; 
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img{
                        max-width: 400px;
                     
                    }
            
            }         

        }


    }
}

.page-events{
    .firendship-hero-img{
        background-size: cover;

        background-image: url('/public/assets/img/hero/firendship-hero-img.webp');
        background-position-y: center;
        



        // background-color: #c47f476c;
        // background-blend-mode: multiply;

        color: white;
    }
}

.page-donations{

    .donation-hero-img{
        background-image: url('/public/assets/img/hero/donation-hero-img.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: 45%;

        background-color: rgba(207, 0, 0, 0.363);
        background-blend-mode: multiply;
        color: white;
        // h1{
        //     color: white;
        // }
    }

 
    section{
        padding: 1rem;
        .content{

            gap: 1rem;

        
            figure{
                margin: 0 auto;
                max-width: 400px;

                img{
                    width: 100%;
                    object-fit:cover;
                }
            }

        }
    }
    @include mix.toAfterMaxwidth(680px){

        section:nth-of-type(even){
            .content{
                display: flex;
            flex-direction: row;
            align-items: center
            }
        }
        section:nth-of-type(odd){
            .content{
                display: flex;
                flex-direction: row-reverse;
                align-items: center
            }
        }

    }
}

.page-article{
    figure{
        margin: 0rem 0rem 1rem;
     
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                max-width: 300px;
            }
    }
    
    @include mix.toAfterMaxwidth(450px){
    
       
            figure{
            margin: 0rem 0rem 1rem;
         
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    max-width: 400px;
                }
            }
        }

}



.join-us-page{

    .puzzle-hero-img{
        background-image: url('/public/assets/img/hero/puzzle-hero-img.webp');
        background-size: cover;
        background-position: center;
        h1{
            color: black;
        }

    }

}