@use '../components/mixinsAndPlaholders' as mix;



.page-gallery{
       
    .camera-hero-img{
        background-image: url('/public/assets/img/hero/camera_hero-img.webp');
        background-size: cover;
        background-color: rgba(187, 187, 187, 0.842);
        background-blend-mode: multiply;
        color: white;
        background-position-y: 35%;
        background-position-x: center;
        scroll-snap-align: start;
        
    }
  

    .foto-side{

        padding: 2rem 0rem;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3rem;

        div.card{

            min-width: 280px;
            max-width: 320px;
            min-height: 450px;
     
            box-sizing: border-box;

                 &:hover{
                transform: scale(1.06);
                transition: ease-in-out 0.5s;
                z-index: 1;
                border: 2px solid red;      

            }

            .picture-count-icon{
                background-color: #0400fdc4;
                border-radius: 30%;
                padding: 2px .5rem;

                position: absolute;
                top:0;
                right: 0;
                translate: -10px -10px;

                display: flex;
                gap: .5rem;

                color: white;
                z-index: 2;
            }

            img{
                height: 100%;
                
                object-fit: cover;
            }


        }

        &.akadaly{
            .card{
                height: 70vh;
                width: 90vw;

                p{
                    overflow: hidden;
                }
           

                .card-img-overlay{


                    height: 100%;
                    padding: 1rem 0rem 0rem;
                }

                @include mix.toAfterMaxwidth(450px){

                    
                    width: 400px;
                    height: 550px;
                    box-sizing: border-box;
    
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
    
                    .card-img-overlay{
    
    
                        height: 100%;
                        padding: 1rem 0rem 0rem;
                        *:not(button){
                            background-color: rgba(128, 128, 128, 0.85);
                            overflow: hidden;
                        }
                    }

            }
        }
                 
    }
        .card-img-overlay{

            *:not(button){
                padding: 0 .3rem;
                text-shadow: 0px 0px 3px black;
                background-color: rgba(128, 128, 128, 0.7);
                overflow: hidden;
            }
        }


        a.postion-galery-btn{
            position: absolute;
            bottom: 5%;
            right: 5%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0);
        }

}
}