@use '../components/mixinsAndPlaholders' as mix;


.page-home{

    .famiy-hero-img{
        background-image: url('/public/assets/img/hero/family-hero-img-2.webp');
        background-size: cover;
        background-color: hsl(45, 7%, 65%);
        color: white;
        background-position: top;
        background-blend-mode: multiply;
        // align-items: flex-end;
        @include mix.toAfterMaxwidth(1200px){
            background-position-y: 30%;
        }
     
    }
    
    .hands-hero{
        // background-image: url('public/assets/img/hands-hero-img.jpg');

        background-image: url('/public/assets/img/hero/hands-hero-img.webp');
        background-size: cover;
        background-position: center;
        background-color: hsl(210, 70%, 40%);
        color: black;
        background-blend-mode: multiply;
        color: white;
        @include mix.toAfterMaxwidth(1200px){
            background-position-y: 60%;
        }

    }

    .crowd-hero-img{
        background-image: url('/public/assets/img/hero/crowd.webp');
        background-size: cover;
        background-position: bottom;  
        color: white;

    }

  



    section{
        ul{
            li{
                margin-top: 1rem;
            }
            li.light{
                list-style: url('/public/assets/icons/suit-heart-fill.svg') ;
            }

            li.dark, li.akadaly{
                list-style: url('/public/assets/icons/white-hearth.svg') ;
            }
        }
    }


}