@use '../components/mixinsAndPlaholders' as mix;


.page-home{

    .big-family-hero-img{
        background-image:   linear-gradient(90deg, hsl(45, 7%, 65%) 5%, hsla(45, 7%, 65%, 0.2) 60%),
        url('/public/assets/img/hero/big-family-hero.webp');
        background-size: cover;
        background-color: hsl(45, 7%, 65%);
        color: white;
        background-position: top;

        @include mix.toAfterMaxwidth(1200px){
            background-size: 80%;
            background-position-y: 15%;
            background-position-x: 100%;
            background-color:hsl(45, 7%, 65%);
            background-blend-mode: normal;
            background-image:   linear-gradient(90deg, hsl(45, 7%, 65%) 5%, hsla(45, 7%, 65%, 0.2) 60%),
            url('/public/assets/img/hero/big-family-hero.webp');
            
        }
     
    }
    
    .hands-hero{
        background-image: url('/public/assets/img/hero/hands-hero-img.webp');
        background-size: cover;
        background-position: center;
        background-color: hsl(210, 70%, 42%);
        color: black;
        background-blend-mode: overlay;
        color: white;
        @include mix.toAfterMaxwidth(1200px){
            background-position-y: 75%;
        }
    }

    .kids-hero-img{
        background-image: url('/public/assets/img/hero/kids-hero-img.webp');
        background-size: cover;
        background-color: #00695C;
        background-blend-mode: overlay;
        background-position-y: top;  
        color: white;
        @include mix.toAfterMaxwidth(1100px){
            background-position-y: 18%;;
        }
    }
}