@charset "UTF-8";
main.blur {
  filter: blur(5px);
}

.accordion.dark {
  --bs-body-bg: rgb(68, 68, 68);
  --bs-body-color:rgb(200, 200, 200);
  --bs-accordion-active-bg: rgba(146.88, 112.064, 16.32, 0.45);
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(146.88, 112.064, 16.32, 0.45);
}
.accordion.akadaly {
  --bs-body-bg: rgb(48, 48, 48);
  --bs-body-color:rgb(255, 255, 0);
  --bs-accordion-active-bg: rgba(100.98, 77.044, 11.22, 0.45);
  --bs-accordion-active-color: rgb(29, 252, 0);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(100.98, 77.044, 11.22, 0.45);
}
.accordion.akadaly button {
  letter-spacing: 2px;
  font-size: 0.8em;
}

@font-face {
  font-family: Noto;
  src: url("/public/assets/fonts/Noto.ttf");
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Noto, Roboto, sans-serif !important;
}

:root {
  --animate-duration: 2.5s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.page-defalult-layout.light {
  --outlet-bg-color: rgba(255, 255, 255, 0.5);
  color: rgb(17, 17, 17);
}

.page-defalult-layout.dark {
  --outlet-bg-color: rgb(48, 48, 48);
  color: rgb(200, 200, 200);
  background-color: black;
  background-blend-mode: overlay;
}

.page-defalult-layout.akadaly {
  --outlet-bg-color: rgba(2, 2, 2, 0.7);
  background-color: black;
  background-blend-mode: multiply;
}
.page-defalult-layout.akadaly h1, .page-defalult-layout.akadaly h2, .page-defalult-layout.akadaly h3, .page-defalult-layout.akadaly h4, .page-defalult-layout.akadaly h5, .page-defalult-layout.akadaly h6, .page-defalult-layout.akadaly p, .page-defalult-layout.akadaly strong, .page-defalult-layout.akadaly mark, .page-defalult-layout.akadaly li, .page-defalult-layout.akadaly table tr td, .page-defalult-layout.akadaly table tr th {
  background-color: initial;
  color: rgb(255, 255, 0);
  text-align: initial;
  line-height: 2.2;
}
.page-defalult-layout.akadaly h1:nth-of-type(even), .page-defalult-layout.akadaly h2:nth-of-type(even), .page-defalult-layout.akadaly h3:nth-of-type(even), .page-defalult-layout.akadaly h4:nth-of-type(even), .page-defalult-layout.akadaly h5:nth-of-type(even), .page-defalult-layout.akadaly h6:nth-of-type(even), .page-defalult-layout.akadaly p:nth-of-type(even), .page-defalult-layout.akadaly strong:nth-of-type(even), .page-defalult-layout.akadaly mark:nth-of-type(even), .page-defalult-layout.akadaly li:nth-of-type(even), .page-defalult-layout.akadaly table tr td:nth-of-type(even), .page-defalult-layout.akadaly table tr th:nth-of-type(even) {
  color: rgb(230, 155, 25);
}
.page-defalult-layout.akadaly h1:nth-of-type(even) *, .page-defalult-layout.akadaly h2:nth-of-type(even) *, .page-defalult-layout.akadaly h3:nth-of-type(even) *, .page-defalult-layout.akadaly h4:nth-of-type(even) *, .page-defalult-layout.akadaly h5:nth-of-type(even) *, .page-defalult-layout.akadaly h6:nth-of-type(even) *, .page-defalult-layout.akadaly p:nth-of-type(even) *, .page-defalult-layout.akadaly strong:nth-of-type(even) *, .page-defalult-layout.akadaly mark:nth-of-type(even) *, .page-defalult-layout.akadaly li:nth-of-type(even) *, .page-defalult-layout.akadaly table tr td:nth-of-type(even) *, .page-defalult-layout.akadaly table tr th:nth-of-type(even) * {
  color: rgb(230, 155, 25);
}
.page-defalult-layout.akadaly h1:nth-of-type(even) button, .page-defalult-layout.akadaly h2:nth-of-type(even) button, .page-defalult-layout.akadaly h3:nth-of-type(even) button, .page-defalult-layout.akadaly h4:nth-of-type(even) button, .page-defalult-layout.akadaly h5:nth-of-type(even) button, .page-defalult-layout.akadaly h6:nth-of-type(even) button, .page-defalult-layout.akadaly p:nth-of-type(even) button, .page-defalult-layout.akadaly strong:nth-of-type(even) button, .page-defalult-layout.akadaly mark:nth-of-type(even) button, .page-defalult-layout.akadaly li:nth-of-type(even) button, .page-defalult-layout.akadaly table tr td:nth-of-type(even) button, .page-defalult-layout.akadaly table tr th:nth-of-type(even) button {
  color: initial;
}
.page-defalult-layout.akadaly h1:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly h2:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly h3:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly h4:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly h5:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly h6:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly p:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly strong:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly mark:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly li:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly table tr td:nth-of-type(even) a.nav-link, .page-defalult-layout.akadaly table tr th:nth-of-type(even) a.nav-link {
  color: rgb(255, 255, 0);
}
.page-defalult-layout.akadaly table tr th {
  text-decoration: underline 2px solid red;
}
.page-defalult-layout.akadaly .hero-img h2 {
  background-color: var(--outlet-bg-color);
}
.page-defalult-layout.akadaly p, .page-defalult-layout.akadaly li {
  font-size: 1.4em;
}

.page-defalult-layout {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
  background-image: url("/public/assets/img/NOE_BG.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page-defalult-layout h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.page-defalult-layout p {
  text-align: justify;
  text-indent: 1rem;
}
.page-defalult-layout .outlet-component {
  background-color: var(--outlet-bg-color);
  padding: 1rem;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .page-defalult-layout .outlet-component {
    border-radius: 2rem;
    box-shadow: 2px 2px 10px black;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
header.light {
  background-color: hsl(44, 80%, 59%);
}
header.light .navbar-toggler {
  --bs-navbar-color: #0400ff;
  --bs-navbar-toggler-border-color:#0400ff;
  background-color: hsl(241, 100%, 85%);
}
header.dark, header.akadaly {
  background-color: hsl(44, 80%, 32%);
}
header.dark a.nav-link.active {
  color: white !important;
}
header.dark .navbar-toggler {
  --bs-navbar-color: rgb(48, 48, 48);
  --bs-navbar-toggler-border-color:rgb(48, 48, 48);
  background-color: rgb(200, 200, 200);
}
header.dark .night-light-label {
  border-color: rgb(48, 48, 48);
  background-color: rgb(200, 200, 200);
}
header.dark .night-light-label .night-light-ball {
  background: rgb(48, 48, 48);
}
header.akadaly {
  background-color: hsl(44, 80%, 22%);
}
header.akadaly a {
  color: rgb(255, 255, 0);
}
header.akadaly a.nav-link.active {
  color: rgba(255, 255, 0, 0.7) !important;
  text-shadow: 2px 2px 3px black;
}
header.akadaly .navbar-toggler {
  background-color: rgb(255, 255, 0);
}
header nav div.container-fluid img {
  max-width: 270px;
}
header nav .nav-item {
  font-size: 1.3rem;
  padding: 0 0.5rem;
}
header nav .nav-item.admin {
  background-color: rgb(253, 249, 6);
}
header nav .nav-item.admin a.nav-link.active {
  color: blue;
}
header nav .nav-item a {
  display: inline-block;
  flex-grow: 0;
}
@media screen and (min-width: 992px) {
  header nav .nav-item:not(:last-of-type) {
    border-right: 1px solid black;
  }
}
header nav .nav-item .nav-link:hover {
  text-shadow: 1px 1px black;
}
header nav .nav-item .nav-link.active {
  text-decoration: underline black;
  color: #0400ff;
  font-weight: 600;
}
header .night-light-label #night-light-checkbox {
  position: absolute;
  visibility: hidden;
}
header .night-light-label {
  display: block;
  margin: 5px 5px;
  height: 31px;
  width: 60px;
  border: 2px solid #0400ff;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  align-self: center;
}
header .night-light-label .night-light-ball {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background: #0400ff;
  z-index: 99;
  transition: 300ms;
}
header .night-light-label #night-light-checkbox:checked + .night-light-ball {
  transform: translateX(28px);
}
header .moon-svg,
header .sun-svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .moon-svg {
  right: 5px;
}
header .sun-svg {
  left: 5px;
}
@media screen and (orientation: landscape) {
  header #navbarSupportedContent > ul {
    display: flex;
    flex-direction: row;
  }
}

.page-footer {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.page-footer.light {
  color: white;
}
.page-footer.dark {
  color: rgb(200, 200, 200);
}
.page-footer.akadaly {
  color: rgb(255, 255, 0);
}
.page-footer footer {
  padding-top: 1rem;
}
.page-footer footer h3,
.page-footer footer p {
  text-align: center !important;
}
.page-footer footer .contact p {
  text-align: center;
}
.page-footer footer iframe {
  width: 100%;
  height: 100%;
  min-height: 250px;
}

.page-about-us .about-us-img {
  background-image: url("/public/assets/img/hero/csoport_kep.jpg");
  background-position: 30%;
  background-size: 250%;
  position: relative;
}
.page-about-us .about-us-img h1 {
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  background-color: rgba(0, 152, 253, 0.6352941176);
  text-shadow: 0px 0px 25px red;
}
.page-about-us .about-us-img h1.light, .page-about-us .about-us-img h1.dark {
  color: white;
}
.page-about-us .about-us-img h1.akadaly {
  color: rgb(255, 255, 0);
}
@media screen and (min-width: 500px) {
  .page-about-us .about-us-img {
    background-size: 150%;
    background-position: 30%;
    background-position-y: 40%;
  }
}
@media screen and (min-width: 980px) {
  .page-about-us .about-us-img {
    background-size: cover;
    background-position-y: 40%;
  }
}
.page-about-us ol li {
  list-style-type: lower-alpha;
}
.page-about-us ol li::marker {
  font-weight: bolder;
}

.page-admin .btn-info {
  --bs-btn-bg: hsl(300, 80%, 50%);
  --bs-btn-color: white;
  --bs-btn-hover-bg: hsl(300, 80%, 35%);
  --bs-btn-hover-color: white;
  --bs-btn-border-color: magenta;
}
.page-admin input.text-success {
  font-weight: bolder;
  letter-spacing: 3px;
  word-spacing: 3px;
}
.page-admin input.text-success::placeholder {
  font-weight: initial;
  letter-spacing: initial;
}
.page-admin h2, .page-admin h3 {
  color: #0400ff;
}
.page-admin .doc-window {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  background-color: rgba(240, 248, 255, 0.9);
}
.page-admin .doc-window:nth-of-type(even) {
  background-color: rgba(255, 250, 240, 0.9);
}

.page-document .document-hero-img {
  background-image: url("/public/assets/img/hero/documents-hero-img.jpg");
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
  color: white;
}

.page-discounts .percent-hero-img {
  background-image: url("/public/assets/img/hero/percent-hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-color: hsl(122, 39%, 22%);
  background-blend-mode: overlay;
  color: white;
}

.page-events.light article, .page-events.light section, .page-donations.light article, .page-donations.light section {
  background-color: rgba(255, 250, 240, 0.9);
}
.page-events.light article:nth-child(even), .page-events.light section:nth-child(even), .page-donations.light article:nth-child(even), .page-donations.light section:nth-child(even) {
  background-color: rgba(240, 248, 255, 0.9);
}
.page-events.dark article, .page-events.dark section, .page-events.akadaly article, .page-events.akadaly section, .page-donations.dark article, .page-donations.dark section, .page-donations.akadaly article, .page-donations.akadaly section {
  background-color: hsl(0, 0%, 25%);
}
.page-events.dark article:nth-child(even), .page-events.dark section:nth-child(even), .page-events.akadaly article:nth-child(even), .page-events.akadaly section:nth-child(even), .page-donations.dark article:nth-child(even), .page-donations.dark section:nth-child(even), .page-donations.akadaly article:nth-child(even), .page-donations.akadaly section:nth-child(even) {
  background-color: hsl(0, 0%, 15%);
}
.page-events.akadaly article, .page-events.akadaly section, .page-donations.akadaly article, .page-donations.akadaly section {
  margin-top: 2rem;
  border: 2px solid rgba(255, 255, 0, 0.5);
}
.page-events article, .page-events section, .page-donations article, .page-donations section {
  border-top: 2px solid black;
}
.page-events article h2, .page-events section h2, .page-donations article h2, .page-donations section h2 {
  text-align: center;
}
.page-events article figure, .page-events section figure, .page-donations article figure, .page-donations section figure {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-events article figure img, .page-events section figure img, .page-donations article figure img, .page-donations section figure img {
  max-width: 300px;
}
@media screen and (min-width: 600px) {
  .page-events article h2, .page-events section h2, .page-donations article h2, .page-donations section h2 {
    text-align: left;
  }
  .page-events article:nth-child(even) h2, .page-events section:nth-child(even) h2, .page-donations article:nth-child(even) h2, .page-donations section:nth-child(even) h2 {
    text-align: right;
  }
  .page-events article figure, .page-events section figure, .page-donations article figure, .page-donations section figure {
    margin: 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-events article figure img, .page-events section figure img, .page-donations article figure img, .page-donations section figure img {
    max-width: 400px;
  }
}

.page-events .firendship-hero-img {
  background-size: cover;
  background-image: url("/public/assets/img/hero/firendship-hero-img.jpg");
  background-position-y: center;
  color: white;
}

.page-donations .donation-hero-img {
  background-image: url("/public/assets/img/hero/donation-hero-img.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 45%;
  background-color: rgba(207, 0, 0, 0.363);
  background-blend-mode: multiply;
  color: white;
}
.page-donations section {
  padding: 1rem;
}
.page-donations section .content {
  gap: 1rem;
}
.page-donations section .content figure {
  margin: 0 auto;
  max-width: 400px;
}
.page-donations section .content figure img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 680px) {
  .page-donations section:nth-of-type(even) .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .page-donations section:nth-of-type(odd) .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.page-article figure {
  margin: 0rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-article figure img {
  max-width: 300px;
}
@media screen and (min-width: 450px) {
  .page-article figure {
    margin: 0rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-article figure img {
    max-width: 400px;
  }
}

.join-us-page .puzzle-hero-img {
  background-image: url("/public/assets/img/hero/puzzle-hero-img.jpg");
  background-size: cover;
  background-position: center;
}
.join-us-page .puzzle-hero-img h1 {
  color: black;
}

.page-gallery .camera-hero-img {
  background-image: url("/public/assets/img/hero/camera_hero-img.jpg");
  background-size: cover;
  background-color: rgba(187, 187, 187, 0.842);
  background-blend-mode: multiply;
  color: white;
  background-position-y: 35%;
  background-position-x: center;
}
.page-gallery .foto-side {
  padding: 2rem 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}
.page-gallery .foto-side .card {
  min-width: 300px;
  min-height: 400px;
  box-sizing: border-box;
}
.page-gallery .foto-side .card:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
  z-index: 1;
  border: 2px solid red;
  cursor: pointer;
}
.page-gallery .foto-side .card .picture-count-icon {
  background-color: rgba(4, 0, 253, 0.768627451);
  border-radius: 30%;
  padding: 2px 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  translate: -10px -10px;
  display: flex;
  gap: 0.5rem;
  color: white;
  z-index: 2;
}
.page-gallery .foto-side.akadaly .card {
  min-width: 400px;
  min-height: 600px;
}
.page-gallery .foto-side .card-img-overlay *:not(button) {
  padding: 0 0.3rem;
  text-shadow: 0px 0px 3px black;
  background-color: rgba(128, 128, 128, 0.5);
  overflow: hidden;
}

.page-home .famiy-hero-img {
  background-image: url("/public/assets/img/hero/family-hero-img-2.jpg");
  background-size: cover;
  background-color: hsl(45, 7%, 65%);
  color: white;
  background-position: top;
  background-blend-mode: multiply;
}
@media screen and (min-width: 1200px) {
  .page-home .famiy-hero-img {
    background-position-y: 30%;
  }
}
.page-home .hands-hero {
  background-image: url("/public/assets/img/hero/hands-hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-color: hsl(210, 70%, 40%);
  color: black;
  background-blend-mode: multiply;
  color: white;
}
@media screen and (min-width: 1200px) {
  .page-home .hands-hero {
    background-position-y: 60%;
  }
}
.page-home .crowd-hero-img {
  background-image: url("/public/assets/img/hero/crowd.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}
.page-home section ul li {
  margin-top: 1rem;
}
.page-home section ul li.light {
  list-style: url("/public/assets/icons/suit-heart-fill.svg");
}
.page-home section ul li.dark, .page-home section ul li.akadaly {
  list-style: url("/public/assets/icons/white-hearth.svg");
}

.empty-swing-hero-img {
  min-height: 60vh !important;
  background-image: url("/public/assets/img/hero/empty-swing-hero-img.webp");
  background-size: cover;
  background-color: rgba(73, 78, 82, 0.6);
  background-blend-mode: multiply;
  color: white;
  background-position-y: 80%;
  background-position-x: 60%;
}

.hero-img {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
}
.hero-img h2.alt-position, .hero-img h1.alt-position {
  letter-spacing: 4px;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.hero-img h1.poz-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  align-self: center;
}
.hero-img h1.poz-center.top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50%;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .hero-img {
    max-height: none;
    height: 320px;
  }
}
.static-loading-field {
  position: fixed; /* Fixálva a viewporthoz */
  top: 50%; /* 50% a viewport tetejétől */
  left: 50%; /* 50% a viewport bal szélétől */
  transform: translate(-50%, -50%); /* Középre tolás a saját szélességének és magasságának felével */
  border: 2px solid black;
  border-radius: 1rem;
  width: 55vw;
  height: 45vh;
  z-index: 500;
  padding: 1rem;
  display: grid;
  grid-template-rows: min-content min-content auto;
}
@media screen and (min-width: 600px) {
  .static-loading-field {
    width: 35vw;
    height: 35vh;
    background-color: red;
  }
}
.static-loading-field.light {
  background-color: hsl(44, 80%, 59%);
}
.static-loading-field.dark {
  background-color: hsl(44, 80%, 32%);
  color: white;
}
.static-loading-field.akadaly {
  background-color: hsl(44, 80%, 22%);
}
.static-loading-field h1, .static-loading-field p {
  text-align: center;
}
.static-loading-field .loading-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}
.static-loading-field .loading-gif img {
  max-width: 50px;
  max-height: 50px;
}

.calendar {
  border-radius: 50% 50% 0.5rem 0.5rem;
  background-color: yellow;
}

.alert-panel-of-first-use {
  width: 95vw;
  height: 95vh;
  background-color: rgb(0, 0, 0);
  z-index: 2000;
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 500px) and (min-height: 700px) {
  .alert-panel-of-first-use {
    width: 60vw;
    height: 80vh;
    top: 10%;
    left: 20%;
  }
}
.alert-panel-of-first-use h1, .alert-panel-of-first-use p {
  font-size: 2em;
  color: yellow;
  text-shadow: 1px 1px white;
}
.alert-panel-of-first-use p {
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.slider-panel {
  height: 450px;
  border-radius: 2rem;
  background-color: hsla(190, 89.898989899%, 49.5%, 0.151);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.slider-panel .loading-gif {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider-panel div {
  margin: 1rem 0rem;
}
.slider-panel div img {
  width: 100%;
  max-height: 130px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 3px solid green;
}
@media screen and (min-width: 450px) {
  .slider-panel div img {
    max-width: 500px;
    max-height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .slider-panel div img {
    max-height: 430px;
    max-width: 100%;
  }
}
.slider-panel a {
  align-items: flex-end;
}

@media screen and (max-width: 300px) {
  .slider-panel.not-reverse-mobil {
    display: none !important;
  }
}

/*# sourceMappingURL=entry.css.map */
