@use '../components/mixinsAndPlaholders' as mix;
@use '../base/indexBase' as base;

.static-loading-field{

    position: fixed;      /* Fixálva a viewporthoz */
    top: 50%;             /* 50% a viewport tetejétől */
    left: 50%;            /* 50% a viewport bal szélétől */
    transform: translate(-50%, -50%); /* Középre tolás a saját szélességének és magasságának felével */
    // background-color: aliceblue;
    border: 2px solid black;
    border-radius: 1rem;
    width: 55vw;
    height: 45vh;
    z-index: 500;

    padding: 1rem;

    display: grid;
    grid-template-rows: min-content min-content auto;

    @include mix.toAfterMaxwidth(600px){
        width: 35vw;
        height: 35vh;
        background-color: red;
    }
    &.light{
        background-color: base.$nav-light-bg;
    }

    &.dark{
        background-color: base.$nav-dark-bg;
        color: white;
    }

    &.akadaly{
        background-color: base.$nav-akadaly-bg;
    }

    h1,p{
        text-align: center;
    }

    .loading-gif{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-width: 50px;
            max-height: 50px;
        }
        
    }
}

div.icon-box{

    background-color: rgba(9, 248, 248, 0.39);
    padding: 2px 5px;
    border-radius: 8%;
    
    svg{
        width: 40px;
        height: 40px;
        color:  rgb(108, 1, 179) !important;
    }
    

}

.text-indent-no{
    text-indent: 0 !important;
}

a.link-out{

    margin-left: 6px;
    text-decoration: none;
    position: relative;
    hyphens: none;
    text-wrap: nowrap;

    &.light{
        font-weight: 600;
        
        color: base.$light-ancor;

    }

    &.dark{
        color: base.$dark-ancor;
    }

    &.akadaly{
        color: rgba( base.$akadaly-ancor, 0.7) !important;
        background-color: rgb(3, 255, 242);
        &:hover{
            color: rgba( base.$akadaly-ancor, 1) !important;
            transform: scale(1.4) !important;
        }
    }

    @media screen and (min-width:450px) {
        text-wrap: nowrap;
    }
    
}

a.transform-line::after {
    content: "";
    position: absolute;
    bottom: 2px; /* A link alján helyezkedik el */
    left: 50%; /* Kezdje a link közepétől */
    transform: translateX(-50%) scaleX(0); /* Kezdetben 0 hosszúságú, középre igazítva */
    transform-origin: left; /* Az animáció a középpontból indul */
    width: 100%;  /* A link teljes szélessége */
    height: 2px;  /* Vonal magassága (állítsd igény szerint) */
    background-color: currentColor; /* A vonal ugyanaz a szín, mint a link */
    transition: transform 0.3s ease-in-out; /* Finom animációs átmenet */
  }
  
  a.transform-line:hover::after {
    transform: translateX(-50%) scaleX(1); /* Hover állapotban a vonal teljes szélességű */
  }


    button.btn.btn-close.red {
        --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cline x1='1' y1='1' x2='15' y2='15' stroke='%23FF0000' stroke-width='2.5'/%3e%3cline x1='15' y1='1' x2='1' y2='15' stroke='%23FF0000' stroke-width='2.5'/%3e%3c/svg%3e");
    }


    .letter-space-2{
        letter-spacing: 2px;
    }
    

    figure>img{
        width: 100%;
    }


    .bg-music-img{
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 15%;
        background-image: url('/public/assets/img/volume-blue.svg') !important;

    }

    .cursor-pointer{
        cursor: pointer;
    }

    .hover-green:hover{

        color: greenyellow;
    }
