@use '../base/variants' as var;

.page-footer {

    // padding-top: 1rem;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.8);

    &.light {
        color: white;
    }

    &.dark {
        color: var.$dark-color;
    }


    &.akadaly {
        color: var.$akadaly-color;
    }

    footer {

        padding-top: 1rem;

        h3,
        p {
            text-align: center !important;
        }

        .contact {
            p {
                text-align: center;
            }
        }

        iframe {
            width: 100%;
            height: 100%;
            min-height: 250px;
        }
    }
}